<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="auth.css">
        <script src="./app2.js"></script>
    </head>

    <body>

        <div class="main-container">

            <header><img src="logo.png"></header>

            <div class="auth-form">

                <div>Entre com os seus dados fornecidos pela nossa equipe comercial para acessar a calculadora</div>

                <form method="post" action="/auth" >
                    
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email">

                    <label for="password">Senha: </label>
                    <input type="password" name="password" id="password">

                    <button type="submit" class="button">Entrar</button>

                    
                </form>

            </div>
            
            <footer>
                <div>Desenvolvido por Tiago Sestari @Reconheca</div>
            </footer>

        </div>

    </body>

</html>