<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="./app2.js"></script>
    </head>

    <body>

        <div class="main-container">

            <header><img src="logo.png"></header>

            <div class="calculadora-1">

                <div class="titulo"><div>Dinâmicas de Focus Group</div></div>
                    <!--Redações ilimitadas do gênero ENEM
                    com correção feita pela inteligência
                    analítica da Letrus. São oferecidos 
                    relatórios e dados sobre a correção 
                    para que o professor possa analisar
                    o desempenho da turma.-->
                <div class="details">
                                       
                        <div>Grupos</div>
                        <div>Nº de candidatos</div>
                                   
                </div>
                <div class="calculate">
                    <!--Aqui usar uma grid (2x6)-->
                    
                    <div class="turmas">
                        <div>Grupo A</div>
                        <div>Grupo B</div>
                        <div>Grupo C</div>
                        <div>Grupo D</div>
                    </div>
                    <div class="n-alunos">
                        <input id="9ano" type="number">
                        <input  id="1ano" type="number">
                        <input id="2ano" type="number">
                        <input id="3ano" type="number">
                    </div>
                    <div class="x"><div>x</div></div>
                    <div class="preco"><div>R$ 10,90</div></div>
                    <div class="x"><div>x</div></div>
                    <div class="meses"><div>12</div></div>
                </div>
                <div class="mobile">
                    <div>Valores x 12 meses x 10,90 por candidato</div>
                </div>
                <div class="titulo">
                    Dinâmicas com avaliador
                </div>
                <div class="details">
                    <div class="explicacao">
                    <div>Você pode incluir dinâmicas com avaliador dedicado
                    além do alorítimo. O valor é para pacotes de duas dinâmicas.
                    </div>
                    </div>
                    
                </div>
                <div class="titulo_tabela">
                    <div></div>
                    <div class="th"><div>Dinâmica com avaliador</div></div>
                    <div class="th"><div>Qtd de dinâmicas</div></div>
                </div>
                <div class="calculate-2">
                    <!--Aqui usar uma grid (2x6)-->
                    <div class="turmas">
                        <div>Grupo A</div>
                        <div>Grupo B</div>
                        <div>Grupo C</div>
                        <div>Grupo D</div>
                    </div>
                    <div class="checkboxes">
                        <input id="nono_ano_cb" type="checkbox">
                        <input id="p_ano_cb" type="checkbox">
                        <input id="s_ano_cb" type="checkbox">
                        <input id="t_ano_cb" type="checkbox">
                    </div>
                    <div class="n-redacoes">
                        <div class="radios">
                           
                            <input id="n_ano_r_4" type="radio" name="nnr" value="4">
                            <label for="n_ano_r_4">4</label>
                            
                            <input id="n_ano_r_6" type="radio" name="nnr" value="6">
                            <label for="n_ano_r_6">6</label>
                            
                            <input id="n_ano_r_8" type="radio" name="nnr" value="8">
                            <label for="n_ano_r_8">8</label>

                            <input id= "n_ano_r_2" type="radio" name="nnr" value="16">
                            <label for="n_ano_r_2">16</label>
                            
                        </div>
                        <div class="radios">
                            
                            <input id="p_ano_r_4" type="radio" name="pnr" value="4">
                            <label for="p_ano_r_4">4</label>
                            
                            <input id="p_ano_r_6" type="radio" name="pnr" value="6">
                            <label for="p_ano_r_6">6</label>
                            
                            <input id="p_ano_r_8" type="radio" name="pnr" value="8">
                            <label for="p_ano_r_8">8</label>
                            
                            <input id= "p_ano_r_2" type="radio" name="pnr" value="16">
                            <label for="p_ano_r_2">16</label>
                            
                        </div>
                        <div class="radios">
                            
                            
                            <input id="s_ano_r_4" type="radio" name="snr" value="4">
                            <label for="s_ano_r_4">4</label>
                            
                            <input id="s_ano_r_6" type="radio" name="snr" value="6">
                            <label for="s_ano_r_6">6</label>
                            
                            <input id="s_ano_r_8" type="radio" name="snr" value="8">
                            <label for="s_ano_r_8">8</label>

                            <input id= "s_ano_r_2" type="radio" name="snr" value="16">
                            <label for="s_ano_r_2">16</label>
                        </div>
                        <div class="radios">
                         
                            <input id="t_ano_r_4" type="radio" name="tnr" value="4">
                            <label for="t_ano_r_4">4</label>
                            
                            <input id="t_ano_r_6" type="radio" name="tnr" value="6">
                            <label for="t_ano_r_6">6</label>
                            
                            <input id="t_ano_r_8" type="radio" name="tnr" value="8">
                            <label for="t_ano_r_8">8</label>

                            <input id= "t_ano_r_2" type="radio" name="tnr" value="16">
                            <label for="t_ano_r_2">16</label>
                            
                        </div>
                    </div>
                    <div class="x">x</div>
                    <div class="preco">R$ 5,80</div>
                    <div class="x">x</div>
                    <div class="meses">12</div>
                </div>
                <div class="mobile">
                    <div>Valores x 12 meses x 5,80 por candidato a cada duas dinâmicas</div>
                </div>
                <div class="botao">
                    <input type="button" onClick="calcular()" value="Calcular">
                </div>
                <div class="resultado" id="resultado">
                    <div>Valor Anual Total: R$ -,-- </div>
                    <div class="resultado-container">
                        <div>Valor anual por candidato Grupo A: R$ -,--</div>
                        <div>Valor anual por candidato Grupo B: R$ -,--</div>
                        <div>Valor anual por candidato Grupo C: R$ -,--</div>
                        <div>Valor anual por candidato Grupo D: R$ -,--</div>
                    </div>
                </div>

            </div>

            <div class="parcelas">
                <div class="slidercontainer">
                    <div>Número de parcelas:</div>
                    <input type="range" min="1" max="12" value="1" class="slider" id="myRange" oninput="parcelas()">
                    <div class="output" id="output">1</div>
                </div>
                <div id="valorParcela" class="valorparcela"><div>Valor da parcela: R$ -,--</div></div>
            </div>

            <div class="historico-titulo"><div>Histórico de simulações</div></div>
            <div class="historico">
                
                <div id="totalalunos"><div>Total de Candidatos</div></div>
                <div id="totalcl"><div>Com avaliador dedicado</div></div>
                <div id="totalpreco"><div>Valor Anual Total</div></div>
            </div>


            <!--<div class="calculadora-2"></div>-->

            

            <footer>
                <div>Desenvolvido por Tiago Sestari @SesTech</div>
            </footer>

        </div>

    </body>

</html>