<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="auth.css">
        <script src="./app2.js"></script>
    </head>

    <body>

        <div class="main-container">

            <header><img src="logo.png"></header>

            <div class="auth-form">

                <div>Email ou Senha inválidos. Tente novamente ou entre em contato com nossa equipe comercial
                   
                </div>

                

            </div>
            
            <footer>
                <div>Desenvolvido por Tiago Sestari @Reconheca</div>
            </footer>

        </div>

    </body>

</html>